#pInicial{
    background-image: url(assets/foto1.jpg);
    background-size: cover;
    background-color: #f9f9f9;
    margin: 0;
}

#bemvindo{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 100px 0;
}

footer {
    background: #5d0011;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#pCadastro{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #9a031e, #5d0011);
}

#pProdutos{
    background-image: linear-gradient(to bottom, #9a031e, #5d0011);
    min-height: 100vh;
}

.prateleira {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
    text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.produto {
	flex: 1;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

#botãoComprar{
    border-radius: 52px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 17px #bcbcbc,
                 -9px -9px 17px #ffffff;
}

.produto img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}


.containerCad{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 #cad{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label{
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input{
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    border-radius: 79px;
    background: linear-gradient(145deg, #a50320, #8b031b);
    box-shadow:  5px 5px 15px #800219,
                 -5px -5px 15px #b40423;
}

#botãoCadastro{
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 52px;
    background: #e0e0e0;
    box-shadow:  4px 4px 30px #a1a1a1,
                 -4px -4px 30px #ffffff;
}

button:hover{
    background-color: #444;
}

#pSobre{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #9a031e, #5d0011);
}

.containerS{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 300px;
}
#botoes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#botoes {
    font-family: monospace;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
#cabeca{
    font-size: 25px;
    color: white;
    text-align: center;
}
#fundo{
    background-image: linear-gradient(to bottom, #da0028, #5d0011);
}
#botoess {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ffffff;
    border-radius: 8px; 
    background-color: rgb(38, 36, 36);
    margin-top: -700px;  
    
}
#botoess-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}